@model UI_MVC.Models.Moderate.ShowDeliveriesViewModel

@{
    ViewBag.SetupLogo = Model.Teacher.SetUp.Logo.Picture;
    ViewBag.SetupName = @Model.Group.Teacher.SetUp.Name;
    ViewBag.Title = "Presentatie";
    Layout = "_Layout";

    <link rel="stylesheet" href="@Url.Content("~/dist/moderate.css")" type="text/css"/>
}

<div id="group-name-with-buttons">
    <h2>@Model.Group.Name</h2>
    <div id="otherViews">
        <a id="otherViews-gallery" asp-action="ShowDeliveriesGallery" asp-route-groupCode="@Model.Group.GroupCode" data-toggle="tooltip" data-placement="bottom" title="Gallerij weergave">
            <svg xmlns="http://www.w3.org/2000/svg" height="40" width="40" fill="currentColor" class="bi bi-columns-gap" viewBox="0 0 16 16">
                <path d="M6 1v3H1V1h5zM1 0a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h5a1 1 0 0 0 1-1V1a1 1 0 0 0-1-1H1zm14 12v3h-5v-3h5zm-5-1a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h5a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1h-5zM6 8v7H1V8h5zM1 7a1 1 0 0 0-1 1v7a1 1 0 0 0 1 1h5a1 1 0 0 0 1-1V8a1 1 0 0 0-1-1H1zm14-6v7h-5V1h5zm-5-1a1 1 0 0 0-1 1v7a1 1 0 0 0 1 1h5a1 1 0 0 0 1-1V1a1 1 0 0 0-1-1h-5z"/>
            </svg>
        </a>
        <svg xmlns="http://www.w3.org/2000/svg" height="40" width="40" fill="currentColor" class="bi bi-grid current-view" viewBox="0 0 16 16">
            <path d="M1 2.5A1.5 1.5 0 0 1 2.5 1h3A1.5 1.5 0 0 1 7 2.5v3A1.5 1.5 0 0 1 5.5 7h-3A1.5 1.5 0 0 1 1 5.5v-3zM2.5 2a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3zm6.5.5A1.5 1.5 0 0 1 10.5 1h3A1.5 1.5 0 0 1 15 2.5v3A1.5 1.5 0 0 1 13.5 7h-3A1.5 1.5 0 0 1 9 5.5v-3zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3zM1 10.5A1.5 1.5 0 0 1 2.5 9h3A1.5 1.5 0 0 1 7 10.5v3A1.5 1.5 0 0 1 5.5 15h-3A1.5 1.5 0 0 1 1 13.5v-3zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3zm6.5.5A1.5 1.5 0 0 1 10.5 9h3a1.5 1.5 0 0 1 1.5 1.5v3a1.5 1.5 0 0 1-1.5 1.5h-3A1.5 1.5 0 0 1 9 13.5v-3zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3z"/>
        </svg>
        <a id="otherViews-slide" asp-action="ShowDeliveriesSlide" asp-route-groupCode="@Model.Group.GroupCode" data-toggle="tooltip" data-placement="bottom" title="Slide weergave">
            <svg xmlns="http://www.w3.org/2000/svg" height="40" width="40" fill="currentColor" class="bi bi-play-btn" viewBox="0 0 16 16">
                <path d="M6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z"/>
                <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm15 0a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z"/>
            </svg>
        </a>
        <a id="show-vset" asp-action="Show" asp-controller="VSet" asp-route-groupCode="@Model.Group.GroupCode" data-toggle="tooltip" data-placement="bottom" title="Vlaamse set">
            <svg xmlns="http://www.w3.org/2000/svg" height="40" width="40" fill="currentColor" class="bi bi-globe" viewBox="0 0 16 16">
                <path d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm7.5-6.923c-.67.204-1.335.82-1.887 1.855A7.97 7.97 0 0 0 5.145 4H7.5V1.077zM4.09 4a9.267 9.267 0 0 1 .64-1.539 6.7 6.7 0 0 1 .597-.933A7.025 7.025 0 0 0 2.255 4H4.09zm-.582 3.5c.03-.877.138-1.718.312-2.5H1.674a6.958 6.958 0 0 0-.656 2.5h2.49zM4.847 5a12.5 12.5 0 0 0-.338 2.5H7.5V5H4.847zM8.5 5v2.5h2.99a12.495 12.495 0 0 0-.337-2.5H8.5zM4.51 8.5a12.5 12.5 0 0 0 .337 2.5H7.5V8.5H4.51zm3.99 0V11h2.653c.187-.765.306-1.608.338-2.5H8.5zM5.145 12c.138.386.295.744.468 1.068.552 1.035 1.218 1.65 1.887 1.855V12H5.145zm.182 2.472a6.696 6.696 0 0 1-.597-.933A9.268 9.268 0 0 1 4.09 12H2.255a7.024 7.024 0 0 0 3.072 2.472zM3.82 11a13.652 13.652 0 0 1-.312-2.5h-2.49c.062.89.291 1.733.656 2.5H3.82zm6.853 3.472A7.024 7.024 0 0 0 13.745 12H11.91a9.27 9.27 0 0 1-.64 1.539 6.688 6.688 0 0 1-.597.933zM8.5 12v2.923c.67-.204 1.335-.82 1.887-1.855.173-.324.33-.682.468-1.068H8.5zm3.68-1h2.146c.365-.767.594-1.61.656-2.5h-2.49a13.65 13.65 0 0 1-.312 2.5zm2.802-3.5a6.959 6.959 0 0 0-.656-2.5H12.18c.174.782.282 1.623.312 2.5h2.49zM11.27 2.461c.247.464.462.98.64 1.539h1.835a7.024 7.024 0 0 0-3.072-2.472c.218.284.418.598.597.933zM10.855 4a7.966 7.966 0 0 0-.468-1.068C9.835 1.897 9.17 1.282 8.5 1.077V4h2.355z"/>
            </svg>
        </a>
    </div>
</div>

<div id="teacherId" hidden>@Model.Teacher.UserId</div>
<div id="filter-bar">
    <div id="filters">
        @foreach (var group in Model.Filters.Select(f => f.Description).Distinct())
        {
            <div class="filter">
                <select class="form-control filter-select" id="@group">
                    <option value="">@group</option>
                    @foreach (var filter in Model.Filters.Where(f => f.Description == group).Select(f => f.Value).Distinct())
                    {
                        <option value="@filter">@filter</option>
                    }
                </select>
            </div>
        }

        @if (!Model.Answers.SelectMany(a => a.CustomTags).Select(t => t.Value).Distinct().Any())
        {
            <div class="custom-filter" style="display: none">
                <select id="custom-filter-select" class="form-control">
                    <option value="">Eigen Tags</option>
                </select>
            </div>
        }
        else
        {
            <div class="custom-filter">
                <select id="custom-filter-select" class="form-control">
                    <option value="">Eigen Tags</option>
                    @foreach (var customTag in Model.Answers.SelectMany(a => a.CustomTags).Select(t => t.Value).Distinct())
                    {
                        <option value="@customTag">@customTag</option>
                    }
                </select>
            </div>
        }
    </div>
    <div>
        @if (Model.Teacher.FilterProfiles.Count != 0)
        {
            <select class="form-control" id="filter-profiles">
                <option value="">Laad filterprofiel</option>
                @foreach (var filterProfile in Model.Teacher.FilterProfiles)
                {
                    <option value="@filterProfile.FilterProfileId">@filterProfile.ProfileName</option>
                }
            </select>
        }
    </div>
</div>

@foreach (var row in Model.Rows)
{
    <div id="grid-full-row">
        <div id="grid-image-row">
            @foreach (var answer in row)
            {
                <img id="grid-image_@answer.AnswerId" src="https://storage.googleapis.com/@ViewBag.bucketName/Images/@answer.AssignedPhoto.Picture" class="preview-photo" alt="">
            }
        </div>
        @foreach (var answer in row)
        {
            <div id="sideAnswer_@answer.AnswerId" class="side-answers">
                <img src="https://storage.googleapis.com/@ViewBag.bucketName/Images/@answer.AssignedPhoto.Picture" alt="">
                <div>
                    @if (Model.LikedAnswers.Contains(answer))
                    {
                        <div id="like-buttons_@answer.AnswerId" class="like-buttons liked">
                            <h3>@answer.AnsweredQuestion.Question</h3>
                            <div class="btn-like">
                                <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-heart" viewBox="0 0 16 16">
                                    <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                                </svg>
                            </div>
                            <div class="btn-unlike">
                                <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-heart-fill" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                                </svg>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div id="like-buttons_@answer.AnswerId" class="like-buttons">
                            <h3>@answer.AnsweredQuestion.Question</h3>
                            <div class="btn-like">
                                <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-heart" viewBox="0 0 16 16">
                                    <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                                </svg>
                            </div>
                            <div class="btn-unlike">
                                <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-heart-fill" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                                </svg>
                            </div>
                        </div>
                    }

                    <h6>Tags</h6>
                    <div id="tags_@answer.AnswerId" class="moderate-tags">
                        @foreach (var tag in @answer.TaskDelivery.Tags)
                        {
                            <div class="moderate-profile-tag">
                                @(tag.Description + ": " + tag.Value)
                            </div>
                        }

                        @foreach (var customTag in @answer.CustomTags)
                        {
                            <div  class="moderate-custom-tag" name="@customTag.Value">
                                @customTag.Value
                            </div>
                        }
                    </div>

                    @if (answer.SideAnswers.Any())
                    {
                        <h6>Deelvragen</h6>
                        @foreach (var sideAnswer in answer.SideAnswers)
                        {
                            <label>@sideAnswer.AnsweredQuestion.Question</label>
                            <input class="form-control" disabled value="@sideAnswer.GivenAnswer">
                        }
                    }

                </div>
            </div>
        }
    </div>
}
<div hidden id="primColor">@Model.Teacher.SetUp.PrimColor</div>
<div hidden id="secColor" >@Model.Teacher.SetUp.SecColor</div>


@section Scripts
{
    <script type="module" src="~/dist/filterCustomTags.entry.js" defer></script>
    <script type="module" src="~/dist/selectGrid.entry.js" defer></script>
    <script type="module" src="~/dist/likeModerate.entry.js" defer></script>
    <script type="module" src="~/dist/filterGrid.entry.js" defer></script>
    <script type="module" src="~/dist/moderate.entry.js" defer></script>
    <script type="module" src="~/dist/setupcolors.entry.js"></script>
    
}